.dashboard
  .team-cont
    border: 1px solid $grey-text
    padding: 10px
    margin: 10px
  .team
    margin: 0 20px
  .category
    padding: 10px
  .item
    padding: 10px
  .form-title
    background: lighten($light-green,10%)