development:
  adapter: postgresql
  host: localhost
  database: lmshweb_dev
  username: lmshweb
  password: lmsh

test:
  adapter: postgresql
  host: localhost
  database: lmshweb_test
  username: lmshweb
  password: lmsh

production:
  adapter: postgresql
  host: localhost
  database: lmshweb
  username: lmshweb
  password: lmsh
